body {
	margin: 0;
}

#logo {
	height: 100%;
	width: auto;
	float:left;
}

#header, #footer, #connexion {
	padding: 2%;
	margin: 2%;
	-moz-box-shadow: 2px 2px 6px #888;  
	-webkit-box-shadow: 2px 2px 6px #888;  
	box-shadow: 2px 2px 6px #888;  
	text-align: center;
	display: block;
	width: 90%;
}

#menu {
	border-bottom: 1px solid #EEE;
	-moz-box-shadow: 2px 2px 6px #888;  
	-webkit-box-shadow: 2px 2px 6px #888;  
	box-shadow: 0px 1px 6px #888;  
	height: 50px;
	padding: 12px;
	display: block;
	vertical-align: middle;
}

#content {
	margin: 2%;
	margin-left: 5%;
	margin-right: 5%;
}
